<div id="gallery-content">
	
<%
  items_per_page = get_gallery_items_per_page_count().to_i
  no_pages = (@purl.deliverable_files.length.to_f / items_per_page.to_f).ceil
  page_no = 1
  item_count = 1
%>

<div id="gallery-pagination">
</div>

<% @purl.deliverable_files.each do |deliverable_file| %>

	<% if item_count == 1 %>
	  <% if page_no == 1 %>	   
      <ol id="gallery-page-items-<%= page_no %>" class="gallery">
	  <% else %>
      <ol id="gallery-page-items-<%= page_no %>" class="gallery" style="display: none;">
	  <% end %>
	<% end %> 
	
  <% img_id = get_jp2_id(deliverable_file.filename.to_s) %>				

  <% if !img_id.nil? and !img_id.empty? %>
    <% base_url = get_img_base_url(deliverable_file) %>
		
    <li>
      <div class="img-block">
	       <a href="javascript:showImg('zoom-<%= img_id %>', '<%= img_id %>');">
	         <img id="img-src-<%= img_id %>" alt="">
        </a> 
      </div>
      <div class="img-group-nav">
      </div>
      <div class="img-group-label-container"><%= get_file_label(deliverable_file) %></div>
    </li>                

  <% elsif deliverable_file.sub_resources.length > 0 %>
    <% 
      img_files = Array.new 
      sno = 1
      sequence = deliverable_file.sequence.to_s
      img_files.concat(deliverable_file.sub_resources) 	        
    %>

    <li>	
			<% img_files.each do |img_file| %>
			  <% img_id = get_jp2_id(img_file.filename.to_s) %>				

			  <% if !img_id.nil? and !img_id.empty? %>
			    <% base_url = get_img_base_url(img_file) %>
			    <% display = sno == 1 ? "inline" : "none" %> 
		
			    <div id="<%= @purl.pid.to_s + '_seq_' + sequence + '_img_' + sno.to_s %>" style="display: <%= display %>;">
					  <div class="img-block">
					   <a href="javascript:showImg('zoom-<%= img_id %>', '<%= img_id %>');">
						   <img id="img-src-<%= img_id %>" alt="">
				      </a> 
				    </div>
				    <div class="img-group-nav">
					    <a href="javascript:showGalleryImg('<%= sno %>', '<%= img_files.length %>', '<%= @purl.pid %>', '<%= sequence %>', -1);"><img class="gallery-img-nav-icon" src="images/gallery-img-prev.png"></a>						
					    <%= sno %> of <%= img_files.length %>
				      <a href="javascript:showGalleryImg('<%= sno %>', '<%= img_files.length %>', '<%= @purl.pid %>', '<%= sequence %>', 1);"><img class="gallery-img-nav-icon" src="images/gallery-img-next.png"></a>
					  </div>
				    <div class="img-group-label-container"><%= get_file_label(img_file) %></div>
			    </div>
			    <% sno += 1 %> 
	      <% end %>
	    <% end %>
    </li>                				
  <% end %>
	
  <% if item_count == items_per_page  %>
     </ol>
     <% item_count = 0 %>
     <% page_no += 1 %>
	<% end %> 
	
	<% item_count += 1 %>	

<% end %>

</div>