<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.png", class: "hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-small.png", class: "visible-xs", alt: "", height: 25 %>
    <% end %>
    <div class="header-links">
    </div>
  </header>
</div>
<div id="feedback-form" class="feedback-form-container collapse">
  <%= render "shared/feedback_forms/form" if show_feedback_form? %>
</div>
