<div class="navbar navbar-expand-md navbar-light topbar" role="banner">
  <div class="container">
    <%= link_to 'https://library.stanford.edu', class: 'mb-0 navbar-brand navbar-logo' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "visually-hidden" %>
      <%= image_tag "sul-logo.svg", class: "d-none d-sm-block", alt: "", height: 25, width: 155 %>
      <%= image_tag "sul-logo-stacked.svg", class: "d-block d-sm-none", alt: "", height: 25, width: 90 %>
    <% end %>
    <div class="navbar-nav">
      <%= link_to '#feedback-form', class: 'nav-link', data: { bs_toggle: 'collapse', bs_target: '#feedback-form' } do %>
        Feedback
      <% end if show_feedback_form? %>
    </div>
  </div>
</div>
<% if show_feedback_form? %>
  <div id="feedback-form" class="feedback-form-container collapse">
    <turbo-frame id="feedback-form-frame" src="<%= new_feedback_form_path %>" loading="lazy">
    </turbo-frame>
  </div>
<% end %>
