<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "visually-hidden" %>
      <%= image_tag "sul-logo.svg", class: "d-none d-sm-block", alt: "", height: 25 %>
      <%= image_tag "sul-logo-stacked.svg", class: "d-block d-sm-none", alt: "", height: 25 %>
    <% end %>
    <div class="header-links">
      <%= link_to feedback_path, class: 'first', data: {toggle:"collapse", target:"#feedback-form"} do %>
        Feedback
      <% end if show_feedback_form? %>
    </div>
  </header>
</div>
<% if show_feedback_form? %>
<div id="feedback-form" class="feedback-form-container collapse row justify-content-md-center">
  <%= render "shared/feedback_forms/form" %>
</div>
<% end %>
