<div id="title-metadata">
  <h2><%= print_title_value() %></h2>

  <dl>
    <%= print_field_value("creators", "Creator", "<br/>") %>
    <%= print_field_value("contributors", "Contributor") %>
    <%= print_field_value("publisher", "Publisher", "<br/>", true) %>
    <%= print_field_value("source", "Source") %>
    <%= print_field_value("date", "Date") %>
    <%= print_description_value("Description", true) %>
    <%= print_field_value("description_preferred_citation", "Preferred Citation", "<br/>", true) %>
    <%= print_field_value("description_rel_publication", "Related Publication", "<hr>", true) %>
    <%= print_field_value("description_contact", "Contact", "<br/>", true) %>
    <%= print_field_value("repository", "Repository") %>
    <%= print_field_value("collection", "Collection") %>
    <%= print_field_value("location", "Location") %>
    <%= print_field_value("relations", "Relation", "<br/>") %>
    <%= print_field_value("identifiers", "Identifier", "<br/>", true) %>
    <%= print_relation_url("Related Link", "<br/>") %>
  </dl>
  <dl>
  <h2><%=render_mods_display(@purl.mods_display_object).title.first.html_safe%></h2>
  <%=render_mods_display(@purl.mods_display_object).body.html_safe%>
</dl>
</div>
