<div class="section" id="<%= t('record_side_nav.download.id') %>" data-side-nav-class="<%= t('record_side_nav.download.id') %>">
  <div class="section-heading">
    <h2><%= t('record_side_nav.download.icon').html_safe %> Available download formats: </h2>
  </div>
  <div class="section-body">
  <ul>
    <% @purl.content_metadata.downloadable_files.each do |f| %>
      <li class="<%= 'sul-embed-stanford-only' if @purl.rights.stanford_only_unrestricted_file?(f.filename) %>">
        <%= image_tag Icon.for_filename(f.filename) %>
        <% if @purl.rights.stanford_only_rights_for_file(f.filename).first ||
            @purl.rights.world_rights_for_file(f.filename).first %>
          <%= link_to truncate(f.display_label, length: 45), f.delivery_url %>
        <% else %>
          <%= truncate f.display_label, length: 45 %>
        <% end %>
        <% if f.size.present? %>
        (<%= number_to_human_size(f.size, precision: 1) %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>