<% if document.mods.name.present? %>
  <div class="section">
    <div class="section-heading">
      <h2>Creators/Contributors</h2>
    </div>
    <div class="section-body">
      <dl>
        <% document.mods.name.each do |role_with_names| %>
          <%= mods_record_field(role_with_names) do |name| %>
            <% capture do %>
              <%= name.name %>
              <% if name.orcid.present? %>
                <span class="orcid">
                  <% orcid_url = "https://orcid.org/#{name.orcid}" %>
                  <a href="<%= orcid_url %>" aria-label="view ORCID page for <%= name.name %>">
                    <img alt="ORCiD icon" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" />
                    <%= orcid_url %>
                  </a> (unverified)
                </span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
