<%
  document ||= @purl
  contributors = render(partial: "mods_contributors", locals: {document: document})
  description = render(partial: "mods_description", locals: {document: document})
  abstract_contents = render(partial: "mods_abstract_contents", locals: {document: document})
  subjects = render(partial: "mods_subjects", locals: {document: document})
  bibliography = render(partial: "mods_bibliographic", locals: {document: document})
  contact = render(partial: "mods_contact", locals: {document: document})
  find_it = render(partial: "find_it", locals: {document: document})

  locals = {
    type: "mods",
    has_data: {
      description: description.present?,
      contributors: contributors.present?,
      abstract_contents: abstract_contents.present?,
      subjects: subjects.present?,
      bibliography_info: bibliography.present?,
      contact_info: contact.present?,
      find_it: find_it.present?,
    }
  }
%>

<% if description.present? %>
  <div class="section" id="<%= t('record_side_nav.description.id') %>" data-side-nav-class="<%= t('record_side_nav.description.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.description.icon').html_safe %> Description </h2>
    </div>
    <div class="section-body">
      <%= description %>
    </div>
  </div>
<% end %>

<%= render partial: "record_side_nav", locals: locals %>

<% if contributors.present? %>
  <div class="section" id="<%= t('record_side_nav.contributors.id') %>" data-side-nav-class="<%= t('record_side_nav.contributors.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.contributors.icon').html_safe %> Contributors</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= contributors %>
      </dl>
    </div>
  </div>
<% end %>

<% if abstract_contents.present? %>
  <div class="section" id="<%= t('record_side_nav.abstract_contents.id') %>" data-side-nav-class="<%= t('record_side_nav.abstract_contents.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.abstract_contents.icon').html_safe %> Abstract/Contents</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= abstract_contents%>
      </dl>
    </div>
  </div>
<% end %>

<% if subjects.present? %>
  <div class="section" id="<%= t('record_side_nav.subjects.id') %>" data-side-nav-class="<%= t('record_side_nav.subjects.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.subjects.icon').html_safe %> Subjects</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= subjects %>
      </dl>
    </div>
  </div>
<% end %>

<% if bibliography.present? %>
  <div class="section" id="<%= t('record_side_nav.bibliography_info.id') %>" data-side-nav-class="<%= t('record_side_nav.bibliography_info.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.bibliography_info.icon').html_safe %> Bibliographic information</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= bibliography %>
      </dl>
    </div>
  </div>
<% end %>

<% if contact.present? %>
  <div class="section" id="<%= t('record_side_nav.contact_info.id') %>" data-side-nav-class="<%= t('record_side_nav.contact_info.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.contact_info.icon').html_safe %> Contact information</h2>
    </div>
    <div class="section-body">
      <dl>
        <%= contact %>
      </dl>
    </div>
  </div>
<% end %>

<% if find_it.present? %>
  <div class="section" id="<%= t('record_side_nav.find_it.id') %>" data-side-nav-class="<%= t('record_side_nav.find_it.id') %>">
    <div class="section-heading">
      <h2><%= t('record_side_nav.find_it.icon').html_safe %> Find it at Stanford</h2>
    </div>
    <div class="section-body">
      <%= find_it %>
    </div>
  </div>
<% end %>
