<% fields = document.mods.name %>
<% if fields.present? %>
  <% label_id = "section-creators" %>
  <%= render SectionComponent.new(label: 'Creators/Contributors', label_id: label_id) do %>
    <%= render TableComponent.new(label_id: label_id) do %>
      <% fields.each do |field| %>
        <tbody>
          <%= mods_record_row_field(field, delimiter: nil) do |name| %>
            <% capture do %>
                <%= name.name %>
                </td><td>
                <% if name.orcid.present? %>                
                  <span class="orcid">
                    <% orcid_url = "https://orcid.org/#{name.orcid}" %>
                    <a href="<%= orcid_url %>" aria-label="view ORCID page for <%= name.name %>">
                      <img alt="ORCiD icon" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" />
                      <%= orcid_url %>
                    </a> (unverified)
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
      <% end %>    
    <% end %>
  <% end %>
<% end %>
