
<% if( @purl.titles != nil ) %>
  <% @purl.titles.each do |title| %>
    <h2><%=title%></h2>
  <% end %>
<% end %>
<dl>
  <dt>Author:</dt>
  <% unless( @purl.authors.nil? ) %>
    <% @purl.authors.each do |author| %>
      <dd><%=Dor::Util.reverse_name(author)%></dd>
    <% end %>
  <% end %>
  <dt>Publisher:</dt>
  <dd>Stanford University, 2010</dd>
</dl>
<div id="metadata">
  <div class="swlink">&raquo; <a>View in SearchWorks</a>
  </div>
  <p><span>&copy; 2010 </span>
	 <span>
	   <% unless( @purl.authors.nil? ) %>
	     <% @purl.authors.each do |author| %>
	       <%=Dor::Util.reverse_name(author)%>
	     <% end %>
	   <% end %>
	 </span>
  </p>
  <p><a href="http://creativecommons.org/licenses/by/3.0/" rel="license"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" style="border-width: 0pt;" alt="Creative Commons License"></a> <br/>This work is licensed under a <a href="" rel="license"><%=@purl.cclicense%></a></p>
</div>
<div id="filelist">         
  <table id="assets">
    <tr>
      <th>File (Download)</th>
      <th>Description</th>
      <th>Access</th>
    </tr>
    <% unless( @purl.primary_files.nil? ) %>
      <% @purl.primary_files.each do |primary_file| %>
        <tr>
		  <% if( primary_file.mimetype.to_s.eql? 'application/pdf' )%>
            <td class="file_pdf">
		  <% elsif( primary_file.mimetype.to_s.eql? 'application/excel' )%>
            <td class="file_xls">
	      <% else %>
            <td>
	      <% end %>
	        <a href="<%=primary_file.url%>"><%=primary_file.filename%></a>
		  </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
    <% unless( @purl.supplemental_files.nil? ) %>
      <% @purl.supplemental_files.each do |supplemental_file| %>
        <tr>
		  <% if( supplemental_file.mimetype.to_s.eql? 'application/pdf' )%>
            <td class="file_pdf">
		  <% elsif( supplemental_file.mimetype.to_s.eql? 'application/excel' )%>
            <td class="file_xls">
	      <% else %>
            <td>
	      <% end %>
            <a href="<%=supplemental_file.url%>"><%=supplemental_file.filename%></a>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<br clear="all"  />
