<div class="row">
  <div class="col-md-8">
    <h2>About Persistent URLs (PURLs)</h2>

    <p>
      The Stanford Digital Repository supports management of scholarly information resources of enduring value to Stanford University. Faculty, students, and researchers use SDR services to promote and protect the products of their work. Scholars around the world use content in the SDR in their research. The benefits of this service distinguish the SDR from other content storage or management options on campus: deposited content is preserved in a robust, reliable, and secure environment for access by scholars today and for generations to come.
    </p>

    <p>
      Metadata describing the content is indexed for search and discovery in SearchWorks, and copies of ingested content are provided via persistent URLs (PURLs) to authorized users. The PURL itself is based on a unique SDR identifier, serving up a reliable, long-lived citation link.
    </p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">More Information</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><%= link_to "Digital Collections in SearchWorks", "" %></li>
          <li><%= link_to "SDR Services website", "http://library.stanford.edu/sdr/" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Featured Items</h3>
    <ul>
      <li><%= link_to_purl("bb000kq3835") %></li>
      <li><%= link_to_purl("bb112zx3193") %></li>
      <li><%= link_to_purl("py305sy7961") %></li>
      <li><%= link_to_purl("bb537hc4022") %></li>
      <li><%= link_to_purl("cd366rw7886") %></li>
      <li><%= link_to_purl("bg730rr6720") %></li>
      <li><%= link_to_purl("bc854fy5899") %></li>
      <li><%= link_to_purl("mv660ws7416") %></li>
      <li><%= link_to_purl("bc421tk1152") %></li>
      <li><%= link_to_purl("bb023ts9016") %></li>
      <li><%= link_to_purl("bh538xp9013") %></li>
      <li><%= link_to_purl("bb737zp0787") %></li>
      <li><%= link_to_purl("dn665vh1697") %></li>
      <li><%= link_to_purl("bj057dg6517") %></li>
      <li><%= link_to_purl("fr352bj3947") %></li>
      <li><%= link_to_purl("bb402bm5087") %></li>
      <li><%= link_to_purl("cy496ky1984") %></li>
      <li><%= link_to_purl("nh329xv9953") %></li>
      <li><%= link_to_purl("mg662qq6088") %></li>
      <li><%= link_to_purl("km993dd6050") %></li>
      <li><%= link_to_purl("qz826pn3100") %></li>
      <li><%= link_to_purl("nd387jf5675") %></li>
      <li><%= link_to_purl("sy486tp5223") %></li>
      <li><%= link_to_purl("yx282xq2090") %></li>
      <li><%= link_to_purl("gx074xz5520") %></li>
      <li><%= link_to_purl("cz128vq0535") %></li>
      <li><%= link_to_purl("fp756wn9369") %></li>
      <li><%= link_to_purl("tg926kp6619") %></li>
      <li><%= link_to_purl("sf815vr1246") %></li>
      <li><%= link_to_purl("gb089bd2251") %></li>
    </ul>
  </div>
</div>
