
<div id="title-metadata">             
	<% unless (@purl.titles.nil?) %>
	  <h2><%= @purl.titles %></h2>
	<% end %>

  <dl>
    <%= print_field_value("authors", "Creator") %>
    <%= print_field_value("contributors", "Contributor(s)") %>
    <%= print_field_value("source", "Source") %>
    <%= print_field_value("date", "Date") %>
    <%= print_field_value("description", "Description") %>	    
  </dl>          
</div>

<div id="metadata">
  <% if( !@purl.catalog_key.nil? ) %>
    <div class="swlink">&raquo; <a href="http://searchworks.stanford.edu/view/<%=@purl.catalog_key%>">View in SearchWorks</a></div>
  <% end %>
  <%= render(:partial => "purl/publication_copyright" ) %>
</div>

<div id="filelist">         
  <table id="assets">
    <tr>
      <th>File (Download)</th>
      <th>Description</th>
	    <% if( !@purl.read_group.nil? and !@purl.read_group.empty? and @purl.read_group !~ /^world$/i ) %>
        <th>Access</th>
      <% end %>
    </tr>
    <% unless( @purl.deliverable_files.nil? ) %>
      <% @purl.deliverable_files.each do |deliverable_file| %>
        <tr>
	      <td class="file">
	        <div class="file_icon"><%= render(:partial => "purl/fileIcon", :locals => {:fileName => deliverable_file.filename.to_s}) %></div>
	        <div class="file_link">
		      <a href="<%=deliverable_file.url%>"><%=deliverable_file.filename%></a>
	          <% if( deliverable_file.size != '') %>
	 		    (<%=number_to_human_size(deliverable_file.size,:precision => 1)%>)
	 	      <% end %>
    		</div>
		  </td>
          <td class="description"><%=deliverable_file.description_label%></td>
		  <% if( !@purl.read_group.nil? and !@purl.read_group.empty? and @purl.read_group !~ /^world$/i ) %>
            <td class="access">
	          <% if( @purl.read_group == 'stanford' ) %>
	            Stanford only 
			  <% end %>
	          <% if( !@purl.embargo_release_date.nil? and @purl.embargo_release_date != '' ) %>
	            until <%=@purl.embargo_release_date%>
			  <% end %>
	        </td>
		  <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<br clear="all" />
