
<% unless( @purl.titles.nil? ) %>
  <h2><%=@purl.titles%></h2>
<% end %>
<dl>
  <dt>Author:</dt>
  <% unless( @purl.authors.nil? ) %>
    <dd><%=Dor::Util.reverse_name(@purl.authors)%></dd>
  <% end %>
  <dt>Publisher:</dt>
  <dd>Stanford University, 2010</dd>
</dl>
<div id="metadata">
  <% if( @purl.catalog_key != '' ) %>
    <div class="swlink">&raquo; <a href="http://searchworks.stanford.edu/view/<%=@purl.catalog_key%>">View in SearchWorks</a></div>
  <% end %>
  <%= render(:partial => "purl/publication_copyright" ) %>
</div>
<div id="filelist">         
  <table id="assets">
    <tr>
      <th>File (Download)</th>
      <th>Description</th>
	  <% if( !@purl.read_group.nil? and @purl.read_group != '') %>
        <th>Access</th>
      <% end %>
    </tr>
    <% unless( @purl.primary_files.nil? ) %>
      <% @purl.primary_files.each do |primary_file| %>
        <tr>
	      <td class="file">
	        <div class="file_icon"><%= render(:partial => "purl/fileIcon", :locals => {:fileName => primary_file.filename.to_s}) %></div>
	        <div class="file_link">
		      <a href="<%=primary_file.url%>"><%=primary_file.filename%></a>
	          <% if( primary_file.size != '') %>
	 		    (<%=primary_file.size%> KB)
	 	      <% end %>
    		</div>
		  </td>
          <td class="description"><%=primary_file.description_label%></td>
		  <% if( !@purl.read_group.nil? and @purl.read_group != '') %>
            <td class="access">
	          <% if( @purl.read_group == 'stanford' ) %>
	            Stanford only 
			  <% end %>
	          <% if( !@purl.embargo_release_date.nil? and @purl.embargo_release_date != '' ) %>
	            until <%=@purl.embargo_release_date%>
			  <% end %>
	        </td>
		  <% end %>
        </tr>
      <% end %>
    <% end %>
    <% unless( @purl.supplemental_files.nil? ) %>
      <% @purl.supplemental_files.each do |supplemental_file| %>
        <tr>
	      <td>
	        <div class="file_icon"><%= render(:partial => "purl/fileIcon", :locals => {:fileName => supplemental_file.filename.to_s}) %></div>
	        <div class="file_link">
              <a href="<%=supplemental_file.url%>"><%=supplemental_file.filename%></a>
	          <% if( supplemental_file.size != '') %>
	 		    (<%=supplemental_file.size%> KB)
	 	      <% end %>
			</div>
          </td>
          <td><%=supplemental_file.description_label%></td>
		  <% if( !@purl.read_group.nil? and @purl.read_group != '') %>
            <td>
	          <% if( @purl.read_group == 'stanford' ) %>
	            Stanford only 
			  <% end %>
	          <% if( !@purl.embargo_release_date.nil? and @purl.embargo_release_date != '' ) %>
	            until <%=@purl.embargo_release_date%>
			  <% end %>
	        </td>
		  <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<br clear="all" />
