<% title @version.title %>
<% content_for(:head) do %>
  <% if @version.embeddable? %>
    <%= tag :link, rel: "preconnect", href: Settings.stacks.url %>
    <%= tag :link, rel: "preconnect", href: Settings.embed.url % { druid: '' } %>
    <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/json+oembed', href: oembed_url_template.expand(format: 'json', url: embeddable_url(@purl.druid)) %>
    <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/xml+oembed', href: oembed_url_template.expand(format: 'xml', url: embeddable_url(@purl.druid)) %>
  <% end %>
  <%= tag :link, rel: "canonical", href: purl_url(@purl) %>
  <%= tag :link, rel: "alternate", title: "MODS XML", type: 'application/xml', href: purl_url(@purl, format: 'mods') if @version.mods? %>
  <%= tag :link, rel: "alternate", title: "IIIF Manifest", type: 'application/json', href: manifest_iiif_purl_url(@purl) %>
  <%= tag :link, rel: "up", href: purl_url(@version.containing_collections.first) if @version.containing_collections.present? %>
  <%= tag :meta, name: 'citation_title', content: @version.title %>
  <%= tag :meta, name: 'citation_publication_date', content: @version.publication_date if @version.publication_date %>
  <% @version.authors.each do |author| %>
    <%= tag :meta, name: 'citation_author', content: author %>
  <% end %>
  <%= tag :meta, name: 'robots', content: 'noindex' unless @purl.crawlable? %>

  <% if @version.doi %>
    <%= tag :meta, name: 'citation_doi', content: @version.doi_id %>
  <% end %>
  <% if @version.schema_dot_org? %>
    <script type="application/ld+json"><%= @version.schema_dot_org.to_json.html_safe %></script>
  <% end %>
<% end %>

<% keywords(@version.mods.subject.compact.map(&:values).join(',')) if @version.mods? && @version.mods.subject %>

<% description(@version.description.truncate(200)) if @version.description %>

<%
opengraph do |graph|
  graph.title @version.title
  graph.description @version.description.truncate(200) if @version.description
  graph.type 'og:website'
  graph.image purl_url(@purl, format: :jpg)
  graph.url purl_url(@purl)
end

twitter_card('summary_large_image') do |card|
  card.site Settings.twitter.site
end

%>
<div class="row">
  <div class="col-12">
    <h1 class="py-2"><%= @version.title %></h1>
  </div>
</div>

<% unless @version.withdrawn? %>
  <% if @version.embeddable? %>
    <div class="upper-record-metadata row">
      <div class="col-md-12">
        <%= render 'embed' %>
      </div>
    </div>
  <% end %>

  <div class="record-metadata row gx-5">
    <div class="record-sections col-lg-8">
      <% if @version.mods? %>
        <%= render "mods_abstract_contents", document: @version %>
        <%= render ModsDescriptionComponent.new(document: @version) %>
        <%= render ModsContributorsComponent.new(document: @version) %>
        <%= render SubjectComponent.new(document: @version) %>
        <%= render BibliographicComponent.new(document: @version) %>
      <% end %>
    </div>
    <div class="record-sections col-lg-4">
      <%= render AccessComponent.new(document: @version) %>
      <%= render 'mods_citation', document: @version %>
      <%= render "collection", document: @version %>
      <%= render "collection_items", document: @version if @purl.released_to_searchworks? %>
      <%= render VersionsComponent.new(purl: @purl, version: @version) if params[:version_feature] %>
      <%= render "mods_contact", document: @version %>
      <%= render "find_it", document: @purl, catalog_key: @version.catalog_key %>

      <% if @version.embeddable? || @version.show_download_metrics? || @version.doi.present? %>
        <turbo-frame id="metrics-frame" src="<%= purl_metrics_path @purl %>">
          <p>Loading usage metrics...</p>
        </turbo-frame>
      <% end %>
    </div>
  </div>
<% end %>
