<% title @purl.title %>
<% content_for(:head) do %>
  <% if @purl.embeddable? %>
    <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/json+oembed', href: oembed_url_template.expand(format: 'json', url: embeddable_url(@purl.druid)) %>
    <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/xml+oembed', href: oembed_url_template.expand(format: 'xml', url: embeddable_url(@purl.druid)) %>
  <% end %>
  <%= tag :link, rel: "alternate", title: "MODS XML", type: 'application/xml', href: purl_url(@purl, format: 'mods') if @purl.mods? %>
  <%= tag :link, rel: "alternate", title: "IIIF Manifest", type: 'application/json', href: iiif_manifest_url(@purl) if @purl.iiif_manifest? %>
  <%= tag :link, rel: "up", href: purl_url(@purl.collection) if @purl.collection.present? %>
<% end %>

<% keywords(@purl.mods.subject.compact.map(&:values).join(',')) if @purl.mods? && @purl.mods.subject %>

<% description(@purl.description.truncate(200)) if @purl.description %>

<%
opengraph do |graph|
  graph.title @purl.title
  graph.description @purl.description.truncate(200) if @purl.description
  graph.type 'og:website'
  graph.image purl_url(@purl, format: :jpg)
  graph.url purl_url(@purl)
end

twitter_card('summary_large_image') do |card|
  card.site Settings.twitter.site
end

%>
<h1><%= @purl.title %></h1>
<div class="upper-record-metadata row">
  <div class="col-md-8">
    <%= render 'mods_upper_metadata_section' if @purl.mods? %>
  </div>

  <div class="col-md-12">
    <%= render 'embed' %>
  </div>
</div>

<div class="record-metadata row">
  <div class="record-sections col-md-8">
    <%= render 'access' %>

    <% if @purl.mods? %>
      <%= render 'mods_metadata_sections' %>
    <% end %>
  </div>
</div>
