<% content_for(:title) { @purl.title } %>
<% content_for(:head) do %>
  <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/json+oembed', href: oembed_url_template.expand(format: 'json', url: embeddable_url(@purl.druid)) %>
  <%= tag :link, rel: "alternate", title: "oEmbed Profile", type: 'application/xml+oembed', href: oembed_url_template.expand(format: 'xml', url: embeddable_url(@purl.druid)) %>
  <%= tag :link, rel: "alternate", title: "MODS XML", type: 'application/xml', href: purl_url(@purl, format: 'mods') if @purl.mods? %>
  <%= tag :link, rel: "alternate", title: "Flipbook JSON", type: 'application/json', href: purl_url(@purl, format: 'flipbook') if @purl.flipbook? %>
  <%= tag :link, rel: "alternate", title: "IIIF Manifest", type: 'application/json', href: iiif_manifest_url(@purl) if @purl.iiif_manifest? %>
<% end %>

<h1><%= @purl.title %></h1>
<div class="upper-record-metadata row">
  <div class="col-md-12">
    <%= render 'mods_upper_metadata_section' if @purl.mods? %>
  </div>

  <div class="col-md-12">
    <a class="purl-embed-viewer embed" href="<%= embeddable_url(@purl.druid) %>">Show Content</a>
    <noscript>
      <iframe class="embed-iframe" seamless src="//embed.stanford.edu/iframe?url=<%= embeddable_url(@purl.druid) %>">
        <a href="//embed.stanford.edu/iframe?url=<%= embeddable_url(@purl.druid) %>">Show Content</a>
      </iframe>
    </noscript>
  </div>
</div>

<div class="record-metadata row">
  <div class="record-sections col-md-12">
    <% if @purl.mods? %>
      <%= render 'mods_metadata_sections' %>
    <% end %>
  </div>
</div>
