<h2 class="section-header">MODS Display</h2>
<div class="view-mods">
  <%= @mods.to_html.gsub('<dl', '<dl class="dl-horizontal"').html_safe %>
</div>

<hr />

<h2 class="section-header">PURL Page</h2>
<div class="upper-record-metadata row">
  <div class="col-md-8">
    <%= render 'mods_upper_metadata_section', document: @purl %>
  </div>
</div>

<div class="record-metadata row">
  <div class="record-sections col-md-8">
    <%= render AccessComponent.new(document: @purl) %>
    <%= render "mods_abstract_contents", document: @purl %>
    <%= render ModsDescriptionComponent.new(document: @purl) %>
    <%= render ModsContributorsComponent.new(document: @purl) %>
    <%= render SubjectComponent.new(document: @purl) %>
    <%= render BibliographicComponent.new(document: @purl) %>
    <%= render 'mods_citation', document: @purl %>
  </div>
</div>
