    <div class="record-sections col-lg-8">
      <%= render AbstractContentsComponent.new(version:) %>
      <%= render DescriptionComponent.new(version:) %>
      <%= render ModsContributorsComponent.new(mods:) %>
      <%= render SubjectComponent.new(mods:) %>
      <%= render BibliographicComponent.new(mods:) %>
    </div>
