<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B11RSRZLRJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      <%# collection is a custom event parameter for getting an item's parent collection.
            It is sent with every event if populated with a value %>
      const config = {
        collection: document.querySelector('link[rel="up"]')?.getAttribute('href')
      }
      
      <% if Settings.analytics_debug %>
        config.debug_mode = true
      <% end %>
          
      gtag('config', 'G-B11RSRZLRJ', config)
    </script>

    <%= title site: application_name, separator: '|', reverse: true %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>

    <%= keywords %>
    <%= description %>
    <%= opengraph %>
    <%= twitter_card %>
    <%= content_for(:head) %>
  </head>
  <body>
    <%= render 'shared/skip_to_nav' %>

    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <div id="outer-container" class="container-fluid">
          <%= render 'shared/top_navbar' %>
          <%= render 'shared/brand_navbar' %>

          <section id="main-container" role="main">
            <%= render partial: '/flash_msg', layout: 'shared/flash_messages' %>
            <%= yield %>
          </section>
        </div>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render 'shared/su_footer' %>
  </body>
</html>
