<div class="pe-container">
  <%= render :partial => 'purl/image/json_embed' %>
  <script type="text/javascript">
    var peContainerWidth = <%= params[:peContainerWidth] %>;
    var peContainerHeight = <%= params[:peContainerHeight] %>;
  </script>
  <%= yield %>

  <%= render :partial => 'purl/ga' if Rails.env == 'production' %>
</div>