<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Stanford Digital Repository</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <%= stylesheet_link_tag 'purl_embed', 'zpr' %>
  </head>
  <body>
    <div class="pe-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'jquery', 'purl_embed'%>
    <%= render :partial => 'purl/image/json_embed' %>
    <script type="text/javascript">
      $(function() { var pe = new purlEmbed(peImgInfo, pePid, peStacksURL); });
    </script>

    <%= render :partial => 'purl/ga' if Rails.env.production? %>
  </body>
</html>
